* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

h2 {
  font-weight: 700;
  font-size: 1.6rem;
}
